body {
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    flex: 1;
    background-color: lightseagreen;
    padding: 20px;
    margin: 10px;
}

.col-2 {
    flex: 2;
    background-color: lightseagreen;
    padding: 20px;
    margin: 10px;
}

.col-3 {
    flex: 3;
    background-color: lightseagreen;
    padding: 20px;
    margin: 10px;
}