
*{
    font-family: Roboto,sans-serif;
}

.nav {
    background-color: rgb(53, 54, 54);
    display: flex;
    justify-content: space-between;
}

.nav-title {
    color: white;
    justify-content: flex-start;
    margin-left: 20px;
}

.nav-links {
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
}

.active {
    font-weight: bold;
}

.btn {
   background-color: rgba(0, 255, 255, 0.677);
   color: white;
   font-size: 15px;
   border: 2.5px solid black;
   box-shadow: 2px 2px 2px black;
   padding: 5px, 10px;
}